<template>
  <div :id="'chart' + id">
    <apexchart type="pie" :id="id" height="350" :options="chartOptions" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";

export default {
  name: "AreaCharts",
  components: {
    apexchart: VueApexCharts,
  },
  props: ['info', 'labels', 'id'],
  data() {
    return {
      series: [],
      chartOptions: {
        chart: {
          id: this.id,
          width: 380,
          type: 'pie',
        },
        legend: {
          show: true,
          position: 'bottom',
          width: "100%"
        },
        labels: [],
      }
    }
  }
}
</script>

<style scoped>

</style>