<template>
  <div id="chart">
    <apexchart type="area" height="350" :options="options" :series="series"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts"
export default {
  name: "UsersCharts",
  components: {
    apexchart: VueApexCharts,
  },
  props: ['color', 'data', 'labels', 'id'],
  data() {
    return {
      options: {
        chart: {
          id: this.id
        },
        xaxis: {
          categories: this.labels
        },
        colors: [this.color],
        fill: {
          type: 'gradient',
          gradient: {
            shadeIntensity: 1,
            inverseColors: false,
            opacityFrom: 0.5,
            opacityTo: 0,
            stops: [0, 90, 100]
          },
        },
      },
      series: [{
        name: 'series-1',
        data: this.data
      }]
    }
  },
}
</script>

<style scoped>

</style>