<template>
  <div class="dashboard">
    <header class="p-3 bg-dark text-white">
      <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-end">
          <div class="text-end">
            <button type="button" class="btn btn-warning">Выйти</button>
          </div>
        </div>
      </div>
    </header>
    <div class="home pt-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-8">
            <div class="row pb-3">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="card-title">Посетители</h5>
                    </div>
                    <div class="card-charts">
                      <UsersCharts
                          :id="'users'"
                          :data="user.data"
                          :labels="user.labels"
                          :color="'#97cc64'"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="card-title">Источник трафика</h5>
                    </div>
                    <div class="card-charts">
                      <AreaCharts
                          :id="'traffic'"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="card-title">Тип устройства</h5>
                    </div>
                    <div class="card-charts">
                      <AreaCharts
                          :id="'device'"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4" v-if="false">
            <div class="row pb-3">
              <div class="col-12" v-if="false">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="card-title">Новые посетители</h5>
                    </div>
                    <div class="card-charts">
                      <UsersCharts
                          :id="'usersNew'"
                          :data="userNew.data"
                          :labels="userNew.labels"
                          :color="'#fdcc35'"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="card-title">Тип устройства</h5>
                    </div>
                    <div class="card-charts">
                      <AreaCharts
                          :id="'device'"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="row pb-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="card-title">Адрес страницы</h5>
                    </div>
                    <div class="card-content pt-5">
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">Адрес страницы</th>
                          <th scope="col" style="text-align: right;">Просмотры</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, i) in pages" :key="i">
                          <td>{{ item.url }}</td>
                          <td style="text-align: right">
                            {{ item.count }}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pb-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="card-title">
                      <h5 class="card-title">Последняя поисковая фраза</h5>
                    </div>
                    <div class="card-content pt-5">
                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col">Последняя поисковая фраза</th>
                          <th scope="col" style="text-align: right;">Визиты</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, i) in keywords" :key="i">
                          <td>{{ item.url }}</td>
                          <td style="text-align: right">
                            {{ item.count }}
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UsersCharts from "@/components/Charts/UsersCharts";
import AreaCharts from "@/components/Charts/AreaCharts";
import Api from "@/api/Api";

export default {
  name: 'Home',
  components: {
    UsersCharts: UsersCharts,
    AreaCharts: AreaCharts
  },
  created() {
    window.home = this
    if (window.app){
      window.app.auth = false
    }
  },
  data(){
    return {
      user: {
        data: [0, 0 ,0],
        labels: [0, 0, 0]
      },
      userNew: {
        data: [0, 0 ,0],
        labels: [0, 0, 0]
      },
      device: {
        data: [],
        labels: []
      },
      pages: [],
      keywords: []
    }
  },
  mounted() {
    this.getPages()
    this.getKeywords()
    this.getDevice()
    this.getSource()
    this.getUsers()
  },
  methods: {
    newData(id, data){
      window.ApexCharts.exec(id, 'updateSeries', [{
        data: data
      }], false);
    },
    async getPages(){
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.metrikaID){
        try {
          await Api.SendData('/api/pages-analytic', {
            metrikaID: session.metrikaID
          })
              .then((res) => {
                console.log(res)
                if (res.data.status){
                  this.pages = res.data.data
                } else {
                  window.ShowHit(res.data.message)
                }
              })
        } catch (e) {
          console.log(e)
          if (e.response.data){
            window.ShowHit(e.response.data.message)
          }
        }
      }
    },
    async getKeywords(){
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.metrikaID){
        try {
          await Api.SendData('/api/words-analytic', {
            metrikaID: session.metrikaID
          })
              .then((res) => {
                console.log(res)
                if (res.data.status){
                  this.keywords = res.data.data
                } else {
                  window.ShowHit(res.data.message)
                }
              })
        } catch (e) {
          console.log(e)
          if (e.response.data){
            window.ShowHit(e.response.data.message)
          }
        }
      }
    },
    async getDevice(){
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.metrikaID){
        try {
          await Api.SendData('/api/source-analytic', {
            metrikaID: session.metrikaID
          })
              .then((res) => {
                console.log(res)
                if (res.data.status){
                  this.device = res.data.result
                  window.ApexCharts.exec('device', 'updateOptions', {
                    series: this.device.data,
                    labels: this.device.labels
                  }, true);
                  this.$forceUpdate()
                } else {
                  window.ShowHit(res.data.message)
                }
              })
        } catch (e) {
          console.log(e)
          if (e.response.data){
            window.ShowHit(e.response.data.message)
          }
        }
      }
    },
    async getUsers(){
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.metrikaID){
        try {
          await Api.SendData('/api/users-analytic', {
            metrikaID: session.metrikaID
          })
              .then((res) => {
                console.log(res)
                if (res.data.status){
                  this.user = res.data.result
                  window.ApexCharts.exec('users', 'updateOptions', {
                    series: [{
                      data: this.user.data
                    }],
                    xaxis: {
                      categories: this.user.labels
                    },
                  }, true);
                  this.$forceUpdate()
                } else {
                  window.ShowHit(res.data.message)
                }
              })
        } catch (e) {
          console.log(e)
          if (e.response.data){
            window.ShowHit(e.response.data.message)
          }
        }
      }
    },
    async getSource(){
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.metrikaID){
        try {
          await Api.SendData('/api/device-analytic', {
            metrikaID: session.metrikaID
          })
              .then((res) => {
                console.log(res)
                if (res.data.status){
                  window.ApexCharts.exec('traffic', 'updateOptions', {
                    series: res.data.result.data,
                    labels: res.data.result.labels
                  }, true);
                  this.$forceUpdate()
                } else {
                  window.ShowHit(res.data.message)
                }
              })
        } catch (e) {
          console.log(e)
          if (e.response.data){
            window.ShowHit(e.response.data.message)
          }
        }
      }
    }
  }
}
</script>
