<template>
  <main class="form-signin align-items-center d-flex w-100">
    <form class="w-100">
      <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Вход</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" v-model="email" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" v-model="password" placeholder="Пароль">
        <label for="floatingPassword">Пароль</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary mt-3" @click="Login" type="button" :disabled="loading">Вход</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </form>
  </main>
</template>

<script>
import Api from "@/api/Api";

export default {
  name: "Login",
  data(){
    return {
      email: "",
      password: "",
      loading: false
    }
  },
  created() {
    if (window.app){
      window.app.auth = true
    }
  },
  methods: {
    async Login(){
      this.loading = true
      try {
        if (this.email !== '' && this.password !== ''){
          await Api.SendData('/api/auth/login', {
            email: this.email,
            password: this.password
          })
              .then((res) => {
                if (res.data.status === true){
                  localStorage.setItem('session', JSON.stringify(res.data))
                  this.$router.push('/')
                } else {
                  console.log(res.data)
                  window.ShowHit(res.data.message)
                }
                this.loading = false
              })
        } else {
          window.ShowHit('Проверьте правильность заполнения полей')
          this.loading = false
        }

      } catch (e) {
        console.log(e)
        if (e.response.data){
          window.ShowHit(e.response.data.message)
        }
        this.loading = false
      }
    }
  }
}
</script>

<style scoped lang="less">
html,
body {
  height: 100%;
}



body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100vh;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

</style>