<template>
  <div class="container-fluid pt-4">
    <div class="row pb-4">
      <div class="col-12">
        <h1>
          Заявки
        </h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-xl-12">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Телефон</th>
            <th scope="col">Полученные данные</th>
            <th scope="col">Дата создания</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in orders" :key="item.id">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.phone }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                 Смотреть
                </button>
                <ul class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton1">
                  <li v-html="item.info">

                  </li>
                </ul>
              </div>
            </td>
            <td>{{ item.created }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Api from "@/api/Api";

export default {
  name: "Orders",
  created() {
    if (window.app){
      window.app.auth = false
    }
  },
  data(){
    return {
      orders: []
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    async getData(){
      try {
        let res = await Api.GetData('/api/order/list')
        if (res.data.status){
          this.orders = res.data.data
        }
      } catch (e){
        console.log(e)
      }
    }
  }
}
</script>

<style scoped>

</style>