<template>
  <div class="container-fluid pt-4">
    <div class="row pb-4">
      <div class="col-12">
        <h1>
          Цели
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <p>Цели позволяют отслеживать важные события на сайте: клики на кнопки, просмотры определенных страниц, скачивание файлов, отправку форм и многие другие. На одном счетчике может быть до 200 целей — автоцели не учитываются.</p>
      </div>
      <div class="col-xl-8">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить цель</button>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-xl-8">
        <table class="table">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Название цели</th>
            <th scope="col">Описание</th>
            <th scope="col">Номер цели</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, i) in PointsList" :key="i">
            <th scope="row">{{ i }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
            <td>{{ item.id }}</td>
            <td><button @click="removePoints(item.id)" type="button" class="btn btn-danger">Удалить</button></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Добавление цели</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Название цели *</label>
                    <input type="text" v-model="CreatePoints.PointsName" class="form-control" placeholder="Название цели" id="recipient-name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label for="recipient-name" class="col-form-label">Тип условия *</label>
                  <div class="d-flex flex-wrap gap-3">
                    <button type="button"
                            @click="setCurrentType(item.id)"
                            :class="{'btn-dark text-white': CreatePoints.PointsTypeID === item.id}"
                            class="btn btn-outline-dark"
                            v-for="(item, i) in PointsType" :key="i">
                      {{ item.name }}
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Условие *</label>
                    <input type="text" v-model="CreatePoints.PointsValue" class="form-control" placeholder="Условие">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Заркыть</button>
            <button @click="savePoints()" type="button" class="btn btn-primary">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Api from "../api/Api";

export default {
  name: "Points",
  data() {
    return {
      PointsList: [],
      PointsType: [],
      CreatePoints: {
        PointsName: null,
        PointsTypeID: null,
        PointsValue: null
      }
    }
  },
  created() {
    if (window.app){
      window.app.auth = false
    }
  },
  mounted() {
    this.getTypes()
    this.getPoints()
  },
  methods: {
    setCurrentType(id){
      this.CreatePoints.PointsTypeID = id
    },
    async savePoints(){
        if (this.CreatePoints.PointsName === "" || this.CreatePoints.PointsName.length <= 3 || this.CreatePoints.PointsName.length === null){
          alert('Название цели пустое или содержит меньше 4 символов')
          return;
        }
        if (this.CreatePoints.PointsTypeID === null){
          alert('Не выбран тип цели')
          return;
        }
        if (this.CreatePoints.PointsValue === null || this.CreatePoints.PointsValue === ""){
          alert('Условие не заполнено')
          return;
        }

        try {
          let res = await Api.SendData('/api/points/add', {
            name: this.CreatePoints.PointsName,
            type: this.CreatePoints.PointsTypeID,
            value: this.CreatePoints.PointsValue
          })
          if (res.data.status){
            this.CreatePoints.PointsValue = null
            this.CreatePoints.PointsTypeID = null
            this.CreatePoints.PointsName = null
            await this.getPoints()
            this.$forceUpdate()
          } else {
            console.log(res)
            alert('Err')
          }
        } catch (e) {
          console.log(e)
          alert('Err')
        }

    },
    async removePoints(id_Point){
      let alert = confirm("Вы действительно хотите удалить цель?")
      if (alert) {
        try {
          let res = await Api.SendData('/api/points/remove', {
            id: id_Point
          })
          if (res.data.status){
            await this.getPoints()
            this.$forceUpdate()
          }
        } catch (e) {
          console.log(e)
          alert('Err')
        }
      }
    },
    async getPoints(){
      try {
        let res = await Api.GetData('/api/points')
        if (res.data.status){
          this.PointsList = res.data.data
          console.log(this.PointsList)
        } else {
          console.log(res)
          alert('Err')
        }
      } catch (e) {
        console.log(e)
        alert('Err')
      }
    },
    async getTypes(){
      try {

        let res = await Api.GetData('/api/points/types')
        if (res.data.status){
          this.PointsType = res.data.data
        } else {
          console.log(res)
          alert('Err')
        }

      } catch (e) {
        console.log(e)
        alert('Err')
      }
    }
  }
}
</script>

<style scoped>

</style>