<template>
  <main class="form-signin align-items-center d-flex w-100">
    <form class="w-100">
      <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

      <div class="form-floating">
        <input type="email" class="form-control" v-model="user.email" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" v-model="user.password" placeholder="Пароль">
        <label for="floatingPassword">Пароль</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" v-model="user.name" placeholder="Имя">
        <label for="floatingPassword">Имя</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" v-model="user.surname" placeholder="Фамилия">
        <label for="floatingPassword">Фамилия</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" v-model="user.website" placeholder="Адрес сайта">
        <label for="floatingPassword">Адрес сайта</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="button" @click="Registration">Зарегистрироваться</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
    </form>
  </main>
</template>

<script>
import Api from "@/api/Api";

export default {
  name: "Registation",
  data(){
    return {
      user: {
        email: "",
        password: "",
        name: "",
        surname: "",
        website: ""
      }
    }
  },
  created() {
    if (window.app){
      window.app.auth = true
    }
  },
  methods: {
    async Registration(){
      try {
        await Api.SendData('/api/auth/registration', this.user)
            .then((res) => {
              console.log(res)
              if (res.data.status){
                window.ShowHit(res.data.message, 'success')
                this.$router.push('/login')
              } else {
                window.ShowHit(res.data.message)
              }
            })

      } catch (e) {
        console.log(e)
        if (e.response.data){
          window.ShowHit(e.response.data.message)
        }
      }
    }
  }
}
</script>

<style scoped lang="less">
html,
body {
  height: 100%;
}



body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100vh;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-floating {
  margin-bottom: 10px;
}


</style>