<template>
  <div class="container-fluid">
    <div class="row pt-4 pb-4">
      <div class="col-12">
        <h1>Отчеты</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-2">
        <router-link to="/reports/points" class="card">
          <div class="card-body text-center">
            <span>Отчет по целям</span>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Reports"
}
</script>

<style scoped>

</style>