<template>
  <div class="hit-message" id="hit">
    <div class="hit-wrapper danger">
      <div class="hit">{{ textHint }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Hint",
  data(){
    return {
      textHint: ""
    }
  },
  created(){
    window.ShowHit = this.ShowHit;
  },
  methods: {
    ShowHitInternal(text, type = 'danger'){
      this.textHint = text
      const wrapper = document.querySelector('.hit-wrapper')
      wrapper.classList.remove('danger')
      wrapper.classList.remove('success')
      wrapper.classList.add('show');
      setTimeout(() => {
        const wrapper = document.querySelector('.hit-wrapper')
        wrapper.classList.add('show');
      }, 10)
      wrapper.classList.add(type);


      window.hitTimer = setTimeout(() => {
        wrapper.classList.remove('show')
        this.$forceUpdate()
      }, 3000);

      this.$forceUpdate();
    },
    ShowHit(text, type = 'danger'){
      if (!('hitTimer' in window)){
        window.hitTimer = 0
      }

      const wrapper = document.querySelector('.hit-wrapper')

      if (wrapper.classList.contains('show')){
        wrapper.classList.remove('show')
        clearTimeout(window.hitTimer)
        setTimeout(() => {
          this.ShowHitInternal(text, type)
        }, 500)
      } else {
        this.ShowHitInternal(text, type)
      }
    }
  }
}
</script>

<style scoped lang="less">
.hit-message{
  .hit-wrapper.show{
    top: 0;
  }
  .hit-wrapper.success {
    background: transparent;
    min-height: auto;
    .hit{
      background: #00FFD1;
      min-height: auto;
    }
  }
  .hit-wrapper {
    position: fixed;
    top: -100px;
    right: 21px;
    max-width: 400px;
    width: 100%;
    z-index: 10000;
    transition: .4s;
    .hit{
      background: #e85217;
      width: calc(100% - 24px * 2);
      padding: 24px;
      font-family: sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 130%;
      text-align: center;
      color: #23262C;
    }
  }
}
</style>