<template>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh; position: fixed; left: 0;top: 0;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Аналитика</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <router-link to="/" active-class="active" class="nav-link ">
          Сводка
        </router-link>
      </li>
      <li>
        <router-link to="/orders" active-class="active" class="nav-link text-white">
          Заявки
        </router-link>
      </li>
      <li>
        <router-link to="/points" active-class="active" class="nav-link text-white">
          Цели
        </router-link>
      </li>
      <li>
        <router-link to="/reports" active-class="active" class="nav-link text-white">
          Отчеты
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Sidebar"
}
</script>

<style lang="less" scoped>

</style>