<template>
  <div id="app">
    <div class="main-content" v-if="!auth">
      <Sidebar/>
      <div class="container-fluid">
        <div class="row">
          <div class="content-block">
            <router-view/>
          </div>
        </div>
      </div>
    </div>
    <div class="login text-center" v-if="auth">
      <router-view/>
    </div>
    <Hint/>
  </div>
</template>

<script>
import Sidebar from "./components/Sidebar";
import Hint from "@/components/Hint";

export default {
  name: "app",
  created() {
    window.app = this
  },
  data(){
    return {
      auth: false
    }
  },
  components: {
    Sidebar, Hint
  }
}
</script>

<style scoped lang="less">
body{
  background: #f9fbfd;
}
.content-block{
  width: calc(100% - 280px);
  margin-left: auto;
  padding: 0;
}
</style>
