<template>
  <div>
    <div class="container-fluid">
      <div class="row pt-4 pb-4">
        <div class="col-12">
          <h1>Отчет по целям</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <select class="form-select" v-model="PointActive" @change="onSelect" aria-label="Default select example">
            <option value="1" selected>Выберите цель</option>
            <option :value="item.id" v-for="(item, i) in PointsList" :key="i">{{ item.name }}</option>
          </select>
        </div>
      </div>
      <div class="row mt-3" >
        <div class="col-xxl-12">
          <div class="row border-1">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <UsersCharts
                    :id="'pointer'"
                    :labels="data.labels"
                    :data="data.series"
                    :color="'#97cc64'"
                ></UsersCharts>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UsersCharts from "@/components/Charts/UsersCharts";
import Api from "@/api/Api";
export default {
  name: "ReportsPoint",
  components: {
    UsersCharts: UsersCharts
  },
  data(){
    return {
      PointsList: [],
      PointActive: 1,
      ActivePoints: null,
      data: {
        series: [],
        labels: []
      }
    }
  },
  mounted() {
    this.getPoints()
  },
  methods: {
    onSelect(){
      this.getData(this.PointActive)
    },
    async getPoints(){
      try {
        let res = await Api.GetData('/api/points')
        if (res.data.status){
          this.PointsList = res.data.data
          console.log(this.PointsList)
        } else {
          console.log(res)
          alert('Err')
        }
      } catch (e) {
        console.log(e)
        alert('Err')
      }
    },
    async getData(id){
      console.log('Получение информации')
      let session = JSON.parse(localStorage.getItem('session'))
      if (session.token){
        try {
          let res = await Api.SendData('/api/reports/pointer', {
            metrikaID: session.metrikaID,
            idPoint: id
          })
          if (res.data.status){
            this.data.labels = []
            this.data.series = []
            res.data.data.forEach((item) => {
              this.data.series.push(item.count)
              this.data.labels.push(new Date(item.time).toLocaleDateString())
            })
            window.ApexCharts.exec('pointer',  'updateOptions', {
              series: [{
                data: this.data.series
              }],
              xaxis: {
                categories: this.data.labels
              },
            })
          }
        } catch (e) {
          console.log(e)
        }
      }
    }
  }
}
</script>

<style scoped>

</style>